certifi
charset-normalizer
deprecation
fire
fonttools
idna
img2pdf
lxml
numpy
opencv-python
packaging
pdf2docx
pikepdf
Pillow
PyMuPDF
pyparsing
PySide6
PySide6-Addons
PySide6-Essentials
python-docx
requests
shiboken6
six
termcolor
urllib3