fire==0.4.0
fonttools==4.30.0
img2pdf==0.4.3
lxml==4.8.0
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pdf2docx==0.5.3
pikepdf==5.0.1
Pillow==9.0.1
PyMuPDF==1.19.6
pyparsing==3.0.7
PySide6==6.2.3
python-docx==0.8.11
shiboken6==6.2.3
six==1.16.0
termcolor==1.1.0
