certifi==2021.10.8
charset-normalizer==2.0.12
fire==0.4.0
fonttools==4.33.3
idna==3.3
img2pdf==0.4.4
lxml==4.8.0
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pdf2docx==0.5.3
pikepdf==5.1.2
Pillow==9.1.0
PyMuPDF==1.19.6
pyparsing==3.0.8
PySide6==6.3.0
PySide6-Addons==6.3.0
PySide6-Essentials==6.3.0
python-docx==0.8.11
requests==2.27.1
shiboken6==6.3.0
six==1.16.0
termcolor==1.1.0
urllib3==1.26.9
